.tombolAcara{
    margin-top: 1em !important;
}
.mlogo{
    display: none;
}
.pclogo{
    display: block;
}

@media screen and (max-width: 768px) {
    .pclogo{
        display: none;
    }
    .mlogo{
        display: block;
    }
}